  <div style="display: flex; justify-content: center">
    <mat-card appearance="raised" class="game-card">
      @if (isLoggedIn()) {
        <mat-card-header class="card-header">
          <mat-card-title class="card-header-title">
            <p>Play a Game</p>
            <div style="display: flex; align-items: center">
              <button mat-flat-button (click)="logout()">Logout</button>
            </div>
          </mat-card-title>
        </mat-card-header>
      }
      <mat-card-content class="game-card-content">
        @if (isLoggedIn()) {
            <app-tictactoe-board
              [accessTokenInput]="getAccessToken()"
              [resetGameInput]="resetGame"
              (userWon)="userWon()"
              (opponentWon)="opponentWon()"
            ></app-tictactoe-board>
          } @else {
          <div style="height: 100%; display: flex; justify-content: center; align-items:center">
            <button mat-flat-button (click)="login()">Login</button>
          </div>
          }
      </mat-card-content>
      <mat-card-actions>
        @if (gameFinished) {
          <button mat-flat-button (click)="reset()">Restart</button>
        }
      </mat-card-actions>
    </mat-card>
  </div>
