.card-header {
  width: 100%;
}

.card-header-title {
  display: flex;
  justify-content: space-between;
}

.game-card {
  height: 700px;
  width: 500px;
  min-width: 500px;
  background-color: #b3f6ff;
}

.game-card-content {
  height: 100%;
}
