<div style="display: flex; flex-wrap: wrap;">
@for (winComb of winningBoards.keys(); track $index) {
  <mat-card appearance="raised" class="game-card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-header-title">
        <p>Won {{ winningBoards.get(winComb) }} times</p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="game-card-content">
      <app-tictactoe-board
          [boardInput]="winComb"
          [editableInput]="false"
          ></app-tictactoe-board>
    </mat-card-content>
  </mat-card>
}
</div>

